@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey: rgba(132, 139, 200, 0.909);
  --light: rgba(132, 139, 200, 0.18);
  --danger: #ff7782;
  --yellow: #d2a338;
  --success: #41f1b6;
  --box-shadow: 0 2rem 3rem var(--light);}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.online {
  color: #00ffaa;
  background: #00ffaa30;
}
.offline {
  color: var(--danger);
  background: #ff77821a;
}
.pending {
  color: var(--yellow);
  background: #fedc5453;
}
.mybox-shadow {
  box-shadow: var(--box-shadow);
}
.breadcrumbs-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.breadcrumbs-list li {
  margin: 0;
  padding: 8px 12px;
}

.breadcrumb-line {
  border: none;
  border-top: 1px solid #ccc;
  flex-grow: 1;
  margin: 0 8px;
}

@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-zoom {
  animation: zoom 2s ease-in-out infinite;
}


.atm-card {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  background-color: #fff;
   */
}
.atm-card-normal {
  background:rgb(255, 84, 84);
}
.atm-card.glassy {
  position: absolute;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 99;
  transform: rotate(10deg);
}
.atm-card.glassy:hover {
  transform: rotate(-360deg);
}